<!-- app/views/flats/edit.html.erb -->
<div class="container mt-4" style="max-width: 600px;">
  <h1 class="mb-4">Edit Flat Details</h1>
  <%= render "form" %>
  <%= link_to "Cancel", flat_path(@flat), class: "d-block mt-3 text-secondary" %>
</div>
