<!-- app/views/flats/new.html.erb -->
<div class="container mt-4" style="max-width: 600px;">
  <h1 class="mb-4">Add a New Flat</h1>
  <%= render "form" %>
  <%= link_to "Cancel", flats_path, class: "d-block mt-3 text-secondary" %>
</div>
